@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">We were expecting you.....</h1>
    <a class="navbar-brand"><img src="~/smily-face-doctor.png" /></a>
</div>
