@model GestionarePacienti.Models.StatisticsViewModel
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<style type="text/css">
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Charts Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="~/js/Chart.js"></script>


<h1>Appointments per doctor chart</h1>

<div id="chartdiv"></div>

@section Scripts {

<script type="text/javascript">

    var viewModel = @Html.Raw(Json.Serialize(Model));
    console.log(viewModel);

    $(document).ready(function () {
        GenerateChart(viewModel.doctorNames, viewModel.appointmentsPerDoctor);
    });

</script>

}






